*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #fef3e2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #FA4032;
    width: 70%;
    padding: 30px;
    color: #fef3e2;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.312);
    margin: 40px;
    padding: 40px;
    position: relative;
}
.main *{
    
    margin-top: 15px;
}
.main h1{
    text-align: center;
}
.main h2{
    
    color: #fab12f;
    background-color: #fef3e2;
    text-align: center;
    border-radius: 5px;
    padding: 5px;    
}
#Amitesh_photo{
    width: 160px;
    position: absolute;   
    right: 80px;
    top: 200px;
}
table tr td{
    font-size: 20px;
    padding: 5px;
}
table tr td:nth-child(1){
    font-weight: 700;
    width: 200px;
}